%h1.text-5xl.my-8.bg-green-500.hover:bg-red-700 Home#index
%h2 Home#index
%p Find me in app/views/home/index.html.erb
.fa.fa-flag
.fab.fa-amazon

= link_to root_path do 
  .fa.fa-home
%br
= link_to courses_path do
  .fa.fa-book
  Course